:root {
  --color-primary: #003e6d;
  --color-primary-content: #bfcce9;
  --color-warning: #4f3100;
  --color-warning-content: #e59f08;
  --color-success: #004f41;
  --color-success-content: #08e5a6;
}
