:root {
  --color-primary: #00355d;
  --color-primary-content: #a0b3df;
  --color-warning: #4f3100;
  --color-warning-content: #e59f08;
  --color-success: #004f41;
  --color-success-content: #08e5a6;
}
