@plugin 'daisyui' {
  themes:
    dark --default,
    light --preferslight;
  prefix: 'd-';
}

@layer utilities {
  .d-btn {
    @apply rounded-full shadow-none;
  }

  .d-textarea,
  .d-input,
  .d-select {
    @apply w-full rounded-lg border-none bg-base-300 font-sans placeholder-gray-500 shadow-none outline-white/40 focus:outline-1;
  }

  .d-tooltip::before {
    @apply rounded-full duration-150 ease-out;
  }
}
