@layer theme, base, components, utilities;
@import 'tailwindcss/theme' layer(theme);
@import './preflight.css' layer(theme);
@import 'tailwindcss/utilities.css' layer(utilities);
@import './utilities.css';
@import './daisyui.css';
@import './colors.css';
@import './chat/chat.css';

:root,
html,
body,
#app {
  @apply m-0 h-full p-0 font-sans;
}

@layer components {
  .dropdown-item {
    @apply block cursor-pointer rounded p-2 transition-all;
  }
}
