@layer utilities {
  .animated-text {
    background-size: 200% 100%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: bg-position-animate 1s linear infinite;
  }

  @keyframes bg-position-animate {
    0% {
      background-position: 200% 0%;
    }
    100% {
      background-position: 0% 0%;
    }
  }
}
