@layer components {
  .input-chat-pill {
    @apply flex cursor-pointer items-center gap-2 rounded-full border-0 bg-base-100 p-1 px-3 text-[0.82rem] text-gray-300 outline-0 transition-all select-none;

    &:not(.input-chat-pill-disabled) {
      @apply hover:bg-base-200;
    }

    &.input-chat-pill-disabled {
      @apply cursor-default bg-white/10 text-white/50;
    }
  }
}
