@layer components {
  .message-container {
    & .md-fence-wrapper {
      & code {
        @apply p-0 m-0 bg-transparent text-inherit whitespace-pre;
      }

      & pre {
        @apply p-0 m-0 px-3 py-3 leading-5 overflow-auto;
      }
    }
  }
}
