@layer components {
  .message-container {
    & .md-table-wrapper {
      @apply rounded-lg overflow-auto my-5;
    }

    & table {
      @apply border-collapse w-full;

      & th {
        @apply bg-base-200 text-white/90 text-[0.75rem] py-3 px-5 leading-5 uppercase font-normal;
      }

      & td {
        @apply bg-base-200 py-2 px-5 border-none text-[0.9rem] leading-6;
      }

      & tr:not(:last-child) td {
        @apply border-b;
      }
    }

    & table tbody {
      & tr:nth-child(odd) td {
        @apply bg-base-300;
      }

      & tr:nth-child(even) td {
        @apply bg-base-300;
      }
    }
  }
}
