@layer components {
  .assistant-message {
    @apply w-full rounded-2xl leading-7 wrap-break-word sm:w-4/5;

    /** General **/
    & hr {
      @apply my-5 border-white/20;
    }

    & .assistant-message-thought {
      @apply mb-3 text-sm leading-5 text-gray-500;

      & code {
        @apply bg-warning/10 text-[0.9rem] leading-6 text-warning/80;
      }
    }

    & code {
      @apply mr-[2px] rounded-[0.2rem] bg-warning-content px-1 py-0.5 text-[0.9rem] whitespace-pre-wrap text-warning;
    }

    & a {
      @apply no-underline;
    }

    & blockquote {
      @apply ml-8 border-l-2 border-white/40 pl-4 text-white/50;
    }

    /** Table **/
    & .markdown-table {
      @apply my-5 overflow-auto rounded-lg;
    }

    & table {
      @apply w-full border-collapse;

      & th {
        @apply bg-base-200 px-5 py-3 text-[0.75rem] leading-5 font-normal text-white/90 uppercase;
      }

      & td {
        @apply border-none bg-base-200 px-5 py-2 text-[0.9rem] leading-6;
      }

      & tr:not(:last-child) td {
        @apply border-b;
      }
    }

    & table tbody {
      & tr:nth-child(odd) td {
        @apply bg-base-300;
      }

      & tr:nth-child(even) td {
        @apply bg-base-300;
      }
    }

    /** Fence (the thing that wraps the code block inside the response message) **/
    & .markdown-fence {
      & code {
        @apply m-0 bg-transparent p-0 wrap-break-word text-inherit;
      }

      & pre {
        @apply m-0 overflow-auto p-0 px-3 py-3 leading-5;
      }
    }
  }
}
