@import './chat-table.css';
@import './chat-fence.css';

@layer components {
  .message-container {
    @apply rounded-2xl w-4/5 wrap-break-word leading-7;
    & hr {
      @apply border-white/20 my-5;
    }

    & code {
      @apply text-[0.9rem] text-warning bg-warning-content py-0.5 px-1 mr-[2px] rounded-[0.2rem];
    }

    & a {
      @apply no-underline;
    }
  }

  .input-chat-pill {
    @apply bg-base-100 outline-0 select-none cursor-pointer text-gray-300 border-0 text-[0.82rem]  p-1 rounded-full px-3 flex items-center gap-2 transition-all;

    &:not(.input-chat-pill-disabled) {
      @apply hover:bg-base-200;
    }

    &.input-chat-pill-disabled {
      @apply cursor-default bg-white/10 text-white/50;
    }
  }
}
