@layer components {
  .input-chat-pill {
    @apply bg-base-100 outline-0 select-none cursor-pointer text-gray-300 border-0 text-[0.82rem]  p-1 rounded-full px-3 flex items-center gap-2 transition-all;

    &:not(.input-chat-pill-disabled) {
      @apply hover:bg-base-200;
    }

    &.input-chat-pill-disabled {
      @apply cursor-default bg-white/10 text-white/50;
    }
  }
}
